* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fbe700;
}

.logo {
  display: flex;
  justify-content: flex-start;
  padding: 1.5em;
}

.userForm__form {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  box-shadow: 2px 2px 2px #d0ca85;
  width: 77%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.userForm__label {
  display: flex;
  align-self: center;
  font-size: 1.1em;
  color: #161a1d;
  margin-right: 0.2em;
}

.userForm__field {
  margin: 0.5em;
}

.userForm__submit {
  width: 60px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #161a1d;
  border-radius: 6px;
  box-shadow: 2px 2px 2px #d0ca85;
  font-size: 0.9em;
  height: 1.2em;
  align-self: center;
  margin-left: 0.5em;
}

.userForm__userCount {
  margin-top: 1em;
  margin-bottom: 1em;
}

.userCard__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.userCard {
  background-color: rgba(255, 255, 255, 0.6);
  width: 200px;
  margin: 1.2em;
  border-radius: 6px;
  box-shadow: 5px 5px 5px #d0ca85;
  padding: 0.3em;
  overflow-wrap: break-word;
}

.userCard__name,
.userCard__email,
.userCard__company {
  margin-bottom: 0.3em;
  color: #161a1d;
  font-size: 0.9em;
}

.userCard__delete {
  margin: 0.3em;
  background-color: #fbe700;
  width: 100px;
  border: 1px solid #161a1d;
  border-radius: 6px;
  box-shadow: 2px 2px 2px #d0ca85;
}

@media only screen and (max-width: 900px) {
  .userForm__form {
    flex-direction: column;
    width: 50%;
  }

  .userForm__label {
    margin-top: 1em;
  }

  .userForm__field {
    margin: 1em;
    width: 70%;
    align-self: center;
  }

  .userForm__submit {
    margin-block-end: 1em;
  }
}

@media only screen and (max-width: 600px) {
  .userForm__form {
    width: 70%;
  }
}
